@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.nav{
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    padding: 13px 5%;
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    color: #edf0f1;
}
a,li{
    text-decoration: none;
    list-style: none;
    color: #edf0f1;
   
}
.logo{
    cursor: grab;
}
body{
    font-weight: 500;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color:#0088a9
}
button{
    margin-top: 5px;
    padding: 5px 15px;
    background-color:rgba(255, 255, 255,0);
    color:black;
    border-color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:rgba(0,136, 169,0.7);
}
.absolutee{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(200%);
    width: 100%;
}
.container{
    position: relative;
}
main{
    width: 100%;
    height: 100%;
}